* {
    font-family: var(--font);
    box-sizing: border-box;
    outline: none;
    -webkit-text-size-adjust: none;
}

*,
::after,
::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    cursor: default;
    margin: 0;
    background-color: var(--primary-color);
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/images/shadow.webp");
    background-position: center;
    background-size: auto 100%;
    background-repeat: repeat-x;
    z-index: -1;
}

.wrapper {
    overflow: hidden;
}

img,
iframe {
    max-width: 100%;
}

img {
    display: block;
}

a[href] {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

textarea {
    resize: none;
}

.lazyloaded {
    height: auto;
    width: auto;
}

.wrapper,
.inner-page,
.inner-page > .container,
.inner-body,
.inner-body-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
