* {
    font-family: var(--font);
    box-sizing: border-box;
    outline: none;
    -webkit-text-size-adjust: none;
}

*,
::after,
::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    cursor: default;
    margin: 0;
}

.wrapper {
    overflow: hidden;
}

img,
iframe {
    max-width: 100%;
}

img {
    display: block;
}

a[href] {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

textarea {
    resize: none;
}

.lazyloaded {
    height: auto;
    width: auto;
}
