.btn {
    display: inline-block;
    border-radius: var(--border-radius);
    padding: 10px 28px;
    font-size: 16px !important;
    font-weight: 500 !important;
    border: none;
    text-align: center;
    transition: all 0.5s ease;
    text-decoration: none;
    line-height: 1.4 !important;
    overflow: hidden;
    z-index: 1;
    position: relative;
}
.btn.btn-full {
    width: 100%;
}

.btn-primary,
.btn-default {
    background: var(--primary-color);
    color: white;
}

.btn-primary:hover,
.btn-default:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(var(--primary-color-rgb), 0.4);
}
