.btn {
    display: inline-block;
    border-radius: var(--border-radius);
    padding: 14px 20px 11px;
    font-size: 15px !important;
    font-weight: 500 !important;
    border: none;
    text-align: center;
    transition: all 0.5s ease;
    text-decoration: none;
    line-height: 1.4 !important;
    overflow: hidden;
    z-index: 1;
    position: relative;
}
.btn.btn-full {
    width: 100%;
}

.btn-primary,
.btn-default {
    background: var(--secondary-color);
    color: var(--base-color);
}

.btn-primary:hover,
.btn-default:hover {
    background: var(--base-color);
    color: var(--secondary-color);
}
