.header {
    padding: 40px 0;
}

.header-logo,
.header-logo img {
    display: block;
}

.header-logo img {
    width: 130px;
    height: auto;
    max-height: 50px;
    object-fit: contain;
    margin: 0 auto;
}

@media screen and (max-width: 575.98px) {
    .header {
        padding: 20px 0;
    }
}
