.header {
    padding: 50px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}

.header-logo,
.header-logo img {
    display: block;
}

.header-logo img {
    width: 230px;
    height: auto;
    max-height: 118px;
    object-fit: contain;
    margin: 0 auto;
}

@media screen and (max-width: 991.98px) {
    .header {
        padding-top: 50px;
    }

    .header-logo img {
        width: 180px;
    }
}

@media screen and (max-width: 767.98px) {
    .header-logo img {
        width: 150px;
    }
}

@media screen and (max-width: 575.98px) {
    .header {
        padding-top: 40px;
    }

    .header-logo img {
        width: 130px;
    }
}
