:root {
    --primary-color: #8f549a;
    --primary-color-rgb: 143, 84, 154;

    --secondary-color: #bb82c5;
    --secondary-color-rgb: 187, 130, 197;

    --base-color: white;
    --base-color-rgb: 255, 255, 255;

    --red-color: #980202;
    --green-color: #228802;

    --container-width: 576px;
    --gutter-x: 10px;

    --border-radius: 40px;

    --inner-section-gutter: 60px;

    --font: "TeaPlus", sans-serif;
}

@media screen and (max-width: 1199.98px) {
    :root {
        --gutter-x-xl: 40px;
    }
}

@media screen and (max-width: 991.98px) {
    :root {
        --gutter-x-xl: 30px;
        --inner-section-gutter: 40px;
    }
}

@media screen and (max-width: 575.98px) {
    :root {
        --gutter-x: 10px;
        --gutter-x-xl: 25px;
        --inner-section-gutter: 30px;
        --section-gutter: 50px;
    }
}
