:root {
    --text-multiplier: 1;
}

.inner-page {
    display: flex;
    flex-direction: column;
}

.inner-body {
    flex: 1;
    position: relative;
    z-index: 1;
}

/* .inner-body-content > *:not(:last-child) {
    margin-bottom: var(--inner-section-gutter);
} */

.inner-body-title {
    color: var(--base-color);
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}
.inner-body-subtitle {
    font-weight: normal;
    font-size: 23px;
    margin: 0 11%;
    color: var(--base-color);
    text-align: center;
    margin-top: 15px;
}

.inner-body-form {
    margin-top: 30px;
}
/* 
.inner-body-desc p {
    margin: 10px 0 !important;
}

.inner-body-desc p,
.inner-body-desc {
    font-family: var(--font) !important;
    color: var(--secondary-color);
    font-size: 25px;
    line-height: 35px !important;
    word-break: break-word;
}

.inner-body-desc span {
    font-family: var(--font) !important;
    word-break: break-word;
    color: var(--secondary-color);
    font-size: 25px;
    line-height: 35px !important;
}

.inner-body-desc > :first-child {
    margin-top: 0 !important;
}

.inner-body-desc > :last-child {
    margin-bottom: 0 !important;
} */

.error-title {
    font-size: 170px;
    line-height: 170px;
    font-weight: bold;
    color: var(--primary-color);
    margin: 0;
}

.error-desc {
    font-size: 38px;
    line-height: 39px;
    color: var(--secondary-color);
}

.inner-body-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-left: -40px;
    margin-right: -40px;
}

@media screen and (max-width: 575.98px) {
    .inner-body-subtitle {
        margin: 15px 0 0;
    }
    .inner-body-subtitle {
        line-height: 1.5;
    }
    .inner-body-form {
        margin-top: 15px;
    }
}
