.section-m {
    margin: var(--section-gutter) 0;
}

.section-p {
    padding: var(--section-gutter) 0;
}

.section {
    overflow: hidden;
}

.section-center .section-head {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section--title {
    color: var(--primary-color);
    font-size: 59px;
    font-weight: 400;
    line-height: 65px;
    margin: 0;
}

.section-white .section--title {
    color: white;
}

.section.small .section--title {
    font-size: 30px;
    line-height: 40px;
}

.section--subtitle {
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 10px;
    color: var(--secondary-color);
}

.section-white .section--subtitle {
    color: white;
}

.section--desc {
    margin-top: 15px;
}

.section--desc,
.section--desc * {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
}

.section--desc :first-child {
    margin-top: 0;
}

.section--desc :last-child {
    margin-bottom: 0;
}

.section-white .section--desc,
.section-white .section--desc * {
    color: white;
}

.section-center .section-head .section--desc {
    text-align: center;
}

.section-content {
    margin-top: 30px;
}

.section-image img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
}

.section-image:not(.no-ratio) img {
    aspect-ratio: 1/0.5;
}

.section-image.section-gallery img {
    aspect-ratio: 1/1.3;
}

@media (max-width: 991.98px) {
    .section--title {
        font-size: 40px;
    }
}

@media (max-width: 767.98px) {
    .section--title {
        font-size: 32px;
        line-height: 50px;
    }

    .section-image img,
    .section-image.section-gallery img {
        aspect-ratio: 1 / 0.6;
    }

    .section-image.section-gallery.mt-30 {
        margin-top: 0;
    }
}

@media (max-width: 575.98px) {
    .section--title {
        font-size: 25px;
        line-height: 40px;
    }

    .section--desc, .section--desc * {
        font-size: 16px;
    }
}
